.howto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.howtoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
}